.single-products-catagory.clearfix
    a(href='shop.html')
        img(src=#{imageUrl}, alt='')
        // Hover Content
        .hover-content
            .line
            p From #{symbol}#{currency}#{cost}
            h4 #{productName}